.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--px-lg);

    background-color: var(--light-gray);
    box-shadow: 
        5px 5px 8px #00000012,
        -2px -1px 15px #00000012;
    border-radius: 5px; 

    text-align: center;
    gap: 2rem;
    
}

.description-card {
    text-align: center;
    font-weight: var(--fw-base);
    font-size: var(--fs-base);
}

h4 {
    text-align: center;
    font-size: var(--fs-xl);
    font-weight: var(--fw-xl);
}

p {
    text-align: center;
    font-size: var(--fs-lg);
    font-weight: var(--fw-xl);
}

@media (width >= 1280px) {
    .card {  
        background-color: white;
    }
}

