.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-block: var(--px-lg);

    background-color: var(--light-gray);
    box-shadow: 
        5px 5px 8px #00000012,
        -2px -1px 15px #00000012;
    border-radius: 5px;

    text-align: center;
}

.description-card {
    text-align: center;
}

h4 {
    text-align: center;
}

