#solution {
    background: var(--bg-color);
    display: flex;
    z-index: 1;
    padding-bottom: 2rem;
    padding-top: 2rem;
    min-height: 90vh;
    

    p {
        color: var(--second-text-color);
    }
    
    .solution-title {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
    
        padding-block: var(--py-xl);
        gap: 2rem;
        margin-bottom: 1.75rem;
    }

    .solution-title p {
        font-weight: var(--fw-base);
        font-size: var(--fs-base);
    }

    .solution-title p > span {
        color: var(--primary-color);
        font-weight: var(--fw-xl);
    }

    .solution-content {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        text-align: center;
        gap: 1.5rem;
    }

    .solution-content > div {
        width: fit-content;
        align-self: center;
    }

}


@media (width >= 1280px) {
    #solution {
        background: var(--light-gray);
        border-top: none;
        
        .solution-title p {
            width: 80%;
            align-self: center;
            font-size: var(--fs-lg);
            font-weight: var(--fw-base);
        }

        .solution-title {
            gap: 2rem;
        }
        
        .solution-title p:first-of-type {
            color: var(--primary-color);
            font-weight: var(--fw-bold);
            font-size: var(--fs-base);
        }
    
        .solution-content {
            flex-direction: row;
        }
    }
}